
<!DOCTYPE html>
<html lang="en">
  <head>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title> Hotel Bootstrap </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css"/>


    <!-- Custom styles for this template -->
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/1d8aa44bb4.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src='js/npm.js'></script>
    <script src='js/bootstrap.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/main.js'></script>

</header>
 

    <!--<div class="nav">-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="accueil">HOTEL BOOTSTRAP</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/chambres">Chambres</a></li>
            <li><a href="/restaurant">Restaurant</a></li>
            <li><a href="/contact">Réserver</a></li>
            <li><a href="/database">Réservation enregistrée</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
             <p>
                <i class="fa fa-star" aria-hidden="true" > </i>
                <i class="fa fa-star" aria-hidden="true" > </i>
                <i class="fa fa-star" aria-hidden="true" > </i>
                <i class="fa fa-star" aria-hidden="true" > </i>
                <i class="fa fa-star" aria-hidden="true" > </i>
              </p>  
					<h1>HOTEL BOOTSTRAP</h1>
          <h2> The Best Stay In Paris </h2>
				</div>
			</div>
	    </div>
	</div>

  <body>
    {{{body}}}

  </body>

	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-3">
					<a href="#"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="col-lg-3">
					<a href="#"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="col-lg-3">
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="col-lg-3">
					<a href="#"><i class="fa fa-instagram"></i></a>
				</div>
		  </div>
		</div>
	</div>

<div id="footerwrap">
		<div class="container">
			<div class="row_centered">
        <div class="col-sm-4">
        <a href=https://www.google.fr/search?q=12+avenue+des+champs+elysees&oq=12+avenue+des+champs+el&aqs=chrome.1.69i57j0.9134j0j7&sourceid=chrome&ie=UTF-8>HOTEL BOOTSTRAP<br>12 avenue des Champs Elysées<br>75 008 Paris<br></a>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        <p><strong>Téléphone:</strong><br>01.40.98.23.223<br></p>
        <p><strong>Email :</strong><br> <a href="mailto:#">hotelbootstrap@gmail.com</a><br> </p>
        </div>
      </div>
		</div>
  </div>




</html>



