
/* footer {
    background-color: darkblue;
    color: white;
    font-family: 'Times New Roman', serif;
} */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D4E6F1;
    box-sizing: border-box;
}
.col-sm-4 {
    text-align: center;
}

}

.container-fluid {

    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

h2 {
    color: #566573 ;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
}
h4 {
    color:black;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.Read-Less {
    color: inherit;
    color: #337ab7;
}
.active {
color: red;
    font-weight: bold;

}
.col-xs-8 hidden-xs hidden-sm parisdecouverte {
    max-width: 100%;
    max-height: 100%;
    border: none;
    box-sizing: border-box;
    background-size: cover;
    flex-direction: column;
    clear: both;
    float: right;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

#headerwrap {
    background-color: #566573;
    color: #1C2833  ;

    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.monde-du-voyage.com/france/sejour-paris.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 50px;
    
    margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 60px;
	font-weight: bold;
    color: #1C2833;
    font-size: 50px;
}

#headerwrap h2 {
	font-weight: 60px;
	color: #1C2833;
}

#headerwrap p {
	font-weight: 40px;
    font-size: 50px;
    color: #1C2833  ;	

}

.navbar-brand {
	font-weight: 700;;
}

.navbar-default .navbar-brand {
	color: #1C2833  ;
}

.navbar-default {
	color: darkblue;
}

.navbar-default {
	background-color: white;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1C2833  ;
	background-color: transparent;
	border-bottom: 2px solid #1C2833  ;
}

.navbar-default .navbar-nav > li > a {
	color: #1C2833  ;
	background-color: transparent;
	border-bottom: 2px solid #1C2833;
}

.navbar-default .navbar-nav > li > a {
     font-weight: bold;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #D4E6F1;
	margin-left: 100px;
    text-align: center;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #D4E6F1  ;
r
}

#social i {
	font-size: 40px;
	color: #4a4a4a;
}

.col-lg-3{
    text-align : center;
}

.centered {
	text-align: center;
}
.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

.ctitle {
	color: #1C2833  ;
	font-weight: 700;
	margin-bottom: 15px;
}

.hline {
	border-bottom: 2px solid #1C2833  ;
}
.mtb {
	margin-top: 80px;
	margin-bottom: 80px;
}

.btn-theme {
  color: #fff;
  background-color: #1C2833  ;
  border-color: #1C2833  ;
  margin: 4px;
}
.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 400px;
	position: relative;
}

.menu {
	background-image: url(../img/menu.jpg);
}

.dej {
	background-image: url(../img/dej.jpeg);
}

.dejeuner {
	background-image: url(../img/dejeuner.jpg);
}
.diner{
	background-image: url(../img/diner.jpg);
}
