<!DOCTYPE html>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css"/>


    <!-- Custom styles for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/1d8aa44bb4.js"></script>

    <div class="container-fluid">
        <div class="col-xs-12 col-md-4">
            <h2>Découverte et Tourisme à Paris</h2>
            <h4>Son emplacement idéal, au cœur d’un quartier vivant, habité par des Parisiens, n’en est pas moins parfaitement connecté à pieds ou bien en transports, aux hauts lieux des affaires comme La Défense et le Palais des Congrès.</h4> 
            <a class="buttonReadMore"> Lire Plus </a>
            <h4 class="Read-More"> Une fois le seuil de cet hôtel discret de l’avenue des Ternes franchi, vous serez séduits par une vue sur les toits de zinc typiquement parisiens, et les perspectives dégagées vers de superbes façades haussmanniennes. Comme dans un jardin, et situé à l’étage, notre lobby évolue au long de la journée et vous accueille au calme pour prendre le petit-déjeuner et lire la presse.</h4>

          <!-- <a class="Read-Less"> Lire Moins </a> -->
            <br></br>
            <a class="btn btn-default btn-lg" href="/visite"> En savoir plus</a>
        </div>

        <div class="col-xs-8 hidden-xs hidden-sm">
            <div class="photo-viste">
            <img src="/img/photo-visite.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="col-lg-8 col-md-8 col-sm-8">
				<div class="he-wrap tpl6">

            <img src="/img/chambres.jpg" class="img-responsive" alt="Responsive image">

				</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
				<div class="he-wrap tpl6">
            <h2>Découverte de l'hôtel</h2>
            <h4>Découvrez les charmes et atouts de l’hôtel Bootstrap</h4> 
            <p>Notre hôtel vous propose 52 chambres dont la décoration a été pensée en partenariat avec un designer de renom. Entre modernité et ambiance boisée, l’association de tons divergents participe à l’atmosphère cosy de ce lieu. Ces chambres calmes et lumineuses ont été conçues pour privilégier votre bien-être. Ainsi, nous avons opté pour une literie haut de gamme et vous y trouverez tout le confort et les équipements dont vous aurez besoin pour rendre votre séjour plus agréable.</p>

            <a class="btn btn-theme" href="/chambres">En savoir plus</a>
        </div>
    </div>
</div>


    <div class="container-fluid">
        <div class="col-lg-4 col-md-4 col-sm-4">
		  <div class="he-wrap tpl6">
            <h2>Découverte du restaurant</h2>
            <h4>Découvrez les plats du restaurant "Le Carré"</h4> 
            <p>Le Carré est un restaurant à l'atmosphère très Parisienne avec ses tables et ses chaises typiques, et son menu à l'ardoise. Une cuisine bistrotière simple qui donne la part belle aux viandes. Les plats sont réalisés à partir d'ingrédients de saison, issus de petits producteurs français et de pêches de petits bateaux. Coup de cœur pour les vins de propriétés, qui égayeront votre repas.</p>
            <a class="btn btn-default btn-lg" href="/restaurant">En savoir plus</a>
           </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
				<div class="he-wrap tpl6">
            <img src="/img/restaurant_2.jpg" class="img-responsive" alt="Responsive image">
            </div>
        </div>
    </div>

</html>