<!DOCTYPE html>
<html>
  
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css"/>


    <!-- Custom styles for this template -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/1d8aa44bb4.js"></script>

<body>


<div class="container-fluid">
        <div class="ol-lg-12 col-md-12 col-sm-12">
            <h2>CHAMBRES</h2>
            <h4>Notre hôtel vous propose 52 chambres dont la décoration a été pensée en partenariat avec un designer de renom. Entre modernité et ambiance boisée, l’association de tons divergents participe à l’atmosphère cosy de ce lieu. Ces chambres calmes et lumineuses ont été conçues pour privilégier votre bien-être. Ainsi, nous avons opté pour une literie haut de gamme et vous y trouverez tout le confort et les équipements dont vous aurez besoin pour rendre votre séjour plus agréable.</h4> 
        </div>

</div>

	 <div class="container mtb">
	 	<div class="row centered">
		 
     	<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="he-wrap tpl6">
				<img class="img-responsive" src="img/simple.jpg" alt="">
				</div>
				<h5 class="ctitle">STANDARD (CHAMBRE POUR 1 OU 2 PERSONNES</h5>
				<p>
          <li> Au choix : un lit de 140 x 190 ou un lit de 160 x 200 </li>
          <li> Climatisation </li>
          <li> Télévision écran plat avec TNT et chaînes étrangères  </li>
          <li> Wifi gratuit </li>
          <li> Ligne téléphonique  </li>
          <li> Service de réveil  </li>
          <li> Salle de bain avec baignoire ou douche </li>
          <li> Sèche-cheveux </li>
          <li> Table et fer à repasser sur demande </li>
        </p>
        <p><a href="/contact" target="_blank" class="btn btn-theme" role="button">Voir tarifs et disponibilités</a>
				<div class="hline"></div>
		 	</div>

        <div class="col-lg-4 col-md-4 col-sm-4">
				<div class="he-wrap tpl6">
				<img class="img-responsive" src="img/double.jpg" alt="">
				</div>
				<h5 class="ctitle">SUPERIEURE (CHAMBRE POUR 1 OU 2 PERSONNES)</h5>
				<p>
          <li> Lit de 180 x 200 </li>
          <li> Climatisation </li>
          <li> Télévision écran plat avec TNT et chaînes étrangères  </li>
          <li> Wifi gratuit </li>
          <li> Ligne téléphonique  </li>
          <li> Service de réveil  </li>
          <li> Salle de bain avec douche </li>
          <li> Sèche-cheveux </li>
          <li> Table et fer à repasser sur demande </li>
        </p>
        <p><a href="/contact" target="_blank" class="btn btn-theme" role="button">Voir tarifs et disponibilités</a>
				<div class="hline"></div>
		 	</div>

         	<div class="col-lg-4 col-md-4 col-sm-4">
				<div class="he-wrap tpl6">
				<img class="img-responsive" src="https://s0.domozoom.com/images/1/694098-chambre-moderne-suite-parentale-lumineuse-salle.jpg" alt="">
				</div>
				<h5 class="ctitle">SUITE (CHAMBRE POUR 1 OU 2 PERSONNES)</h5>
				<p>
          <li> Au choix : un lit de 200 x 200 </li>
          <li> Climatisation </li>
          <li> Télévision écran plat avec TNT et chaînes étrangères  </li>
          <li> Wifi gratuit </li>
          <li> Ligne téléphonique  </li>
          <li> Service de réveil  </li>
          <li> Salle de bain avec baignoire ou douche </li>
          <li> Sèche-cheveux </li>
          <li> Table et fer à repasser sur demande </li>
        </p>
        <p><a href="/contact" target="_blank" class="btn btn-theme" role="button">Voir tarifs et disponibilités</a>
				<div class="hline"></div>
		 	</div>

	 	</div>
	 </div>


</body>
</html>
