<!DOCTYPE html>
<html>

<body>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/simple.jpeg" alt="...">
      <div class="caption">
        <h3>Chambre simple</h3>
        <p>Pour vous week-end solitaire</p>
        <p><a href="#" target="_blank" class="btn btn-primary" role="button">Voir tarifs et disponibilités</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/double.jpg" alt="...">
      <div class="caption">
        <h3> Chambre double </h3>
        <p> Dormir accompagné c'est quand même plus sympa </p>
        <p><a href="#" target="_blank" class="btn btn-primary" role="button">Voir tarifs et disponibilités</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/suite.jpg" alt="...">
      <div class="caption">
        <h3> Suite </h3>
        <p> Pour en prendre plein les ... yeux</p>
        <p><a href="#" target="_blank" class="btn btn-primary" role="button">Voir tarifs et disponibilités</a>
      </div>
    </div>
  </div>
</body>
</html>
