<!DOCTYPE html>
<html>
 <body>
    <div class="container-fluid">
      <div class="flex-box">
        <div class="col-sm-6">
            <h2>Carte en cours d'élaboration par le chef Philippe Etchebest.....</h2>
        </div>
        <div class="col-sm-6">
            <div class="parisdecouverte">
            <img src="/img/philippeEtchebest.png" class="img-responsive" alt="Responsive image">
            </div>
        </div>
      </div>
    </div>
 </body>   
</html>
