<!DOCTYPE html>
<html>


<body>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/toureiffel.jpeg" alt="...">
      <div class="caption">
        <h3>Tour Eiffel</h3>
        <p>Situé à deux pas de l'hôtel, offrez-vous ce plaisir</p>
        <p><a href="http://www.toureiffel.paris/" class="btn btn-primary" role="button">Visite</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/arcdetriomphe.jpeg" alt="...">
      <div class="caption">
        <h3>Arc de Triomphe</h3>
        <p>A 5 minutes de l'hôtel, un monument incontournable </p>
        <p><a href="http://www.paris-arc-de-triomphe.fr/" class="btn btn-primary" role="button">Visite</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/img/champselysees.jpeg" alt="...">
      <div class="caption">
        <h3>Les Champs Elysées</h3>
        <p>Offres-vous une balade sur la plus belle avenue du monde</p>
        <p><a href="http://www.aparisguide.com/champs-elysees/" class="btn btn-primary" role="button">Visite</a>
      </div>
    </div>
  </div>
</body>

</html>